<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/img/icon.svg" type="image/svg+xml">
    <script src="/static/js/delete-review-confirm.js" defer></script>
</head>
<body>
    <header class="page-header">
        <div class="header-top">
            <h1>{{ title }}</h1>
        </div>
        <form method="GET" action="/" class="search-bar">
            <input type="text" name="title" placeholder="Filter by title" value="{{ title_filter }}">
            <button type="button">Search</button>
            <a href="/new" class="add-button" title="Add new review">+</a>
        </form>
    </header>
    <div class="main-content">
        <ol>
        {% for r in reviews %}
        <li>
            <div class="review-header">
                <div class="title-tags">
                    <h3>
                        <span class="review-title">{{ r.title }}</span>
                        {% if not r.season %}
                            <span class="tag film">Film</span>
                        {% else %}
                            <span class="tag series">Series</span>
                            <span class="tag season">Season {{ r.season }}</span>
                        {% endif %}
                    </h3>
                </div>
                <div class="review-actions">
                    <a href="/edit/{{ r.id }}" class="btn-action edit-btn" title="Edit">
                        <img src="/static/img/edit.svg" alt="Edit icon">
                        Edit
                    </a>
                    <form method="POST" action="/delete/{{ r.id }}" class="inline-form delete-form">
                        <button type="submit" class="btn-action delete-btn" title="Delete">
                            <img src="/static/img/delete.svg" alt="Delete icon">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
            <div class="review-meta">
                <span class="note">
                    {{ r.note }}/10
                    <img src="/static/img/star.svg" alt="*" class="star">
                </span>
                <span class="date">
                    <img src="/static/img/calendar.svg" alt="Date icon" class="icon-date">
                    {{ r.date | default(value="-/-/-") }}
                </span>
            </div>
        </li>
        {% else %}
        <div class="empty-state">
            <img src="/static/img/warning.svg" aria-hidden="true" class="empty-icon"/>
            <p class="no-results">No reviews found</p>
        </div>
        {% endfor %}
        </ol>
    </div>

    <footer class="results-summary">
        <p>{{ films }} Films, {{ series }} Series - {{ total }} Reviews total</p>
    </footer>
</body>
</html>