<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/theme.js" defer></script>
    <link rel="icon" href="/static/img/icon.svg" type="image/svg+xml">
</head>
<body>
    <header class="page-header">
        <div class="header-top">
            <a class='title-link' href='/'><h1>{{ title }}</h1></a>
        </div>
        <button id='theme-toggle'>
            <img src='/static/img/moon.svg' alt='Toggle theme'/>
        </button>
        <form method="GET" action="/reviews" class="search-bar">
            <input type="text" name="title" placeholder="Filter by title"/>
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <ol id="reviews-list"></ol>
    </main>
</body>
</html>

